<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<jr-report resource="/public/NHDOT/Reports/SY003_User_Role">
  <param name="inPermissionID" value="['-1']">
  <param name="RptUser" value="['Sudev Raghuram']">
  <param name="EnvirLogin" value="['198.65.121.7']">
  <param name="ReportName" value="['User_Role']">
  <param name="DeveloperCode" value="['SY003']">
  <param name="SubTitle1" value="['']">
  <param name="SubTitle2" value="['']">
</jr-report>

<router-outlet></router-outlet>